{% extends "base.html" %}

{% block content %}
<section class="main-conten">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-sm-6 mb-3 ">
				<div class="product-card text-white">
					<div class="product-thumb">
						<a href="#"><img src="/static/images/templates/cone.png" alt=""></a>
					</div>
					<div class="product-details">
						<h4><a href="#">Трафарет какой-то там 1</a></h4>
						<p>
							Здесь должно быть описание трафарета
						</p>
						<div class="product-buttom-details d-flex justify-content-between">
							<div class="product-price">
								<small>$211.10</small> $100.10
							</div>
							<div class="product-links">
								<a href="#"><i class="fas fa-shopping-cart"></i></a>
								<a href="#"><i class="far fa-heart"></i></a>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>
{% endblock %}

